body {
    width: 1920px;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boxed {
    max-width: 1380px;
    margin: 0 auto;
}

.flexed {
    display: flex;
}

.contHeader {
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}

header {
    height: 70px;
    background-color: #ff6900;
}

.contHeader img {
    width: 140px;
    height: 35px;
}

.h100 {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

.central {
    margin: 0 20px;
}

a:hover {
    color: blueviolet;
}

.size {
    height: 645px;
    width: 445px;
}

.Bigboxtop {
    padding-top: 50px;
}
